html,body{
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#A3716D, #46373E);
}

.error404{
    font-family: 'Sigmar One';
    font-size: 100px;
    color: white;
    margin: 0 auto;
    width: 27%;
}