.imagen-centrada{
    margin: 0 auto;
}

.msgerror{
    background-color: red; 
    color: white;
}

.boton{
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.derecha{
    text-align: right;
}

/*dropdownmenu - menu desplegable*/
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.enlace-sin-subrayado{
    text-decoration: none; /*Sin subrayado*/
}


