.imagen-centrada{
    margin: 0 auto;
}

.msgerror{
    background-color: red; 
    color: white;
}

.btn{/*Redefinimos clase .btn para quitarle las esquinas redondeadas*/
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    color: white;
}

.derecha{
    text-align: right;
}

/*dropdownmenu - menu desplegable*/
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.enlace-sin-subrayado{
    text-decoration: none; /*Sin subrayado*/
}

@media screen and (max-width: 2000px) and (min-width: 1350px){
    .cuerpotemplate2{
        height: 700px;
    }
}

