<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /alumnos/2daw1516/isabel/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]

</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /alumnos/2daw1516/isabel/application/controllers/Error404
</IfModule>
