##GERION
#<IfModule mod_rewrite.c>
#  RewriteEngine On
#  RewriteBase /alumnos/2daw1516/isabel/
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteRule ^(.*)$ index.php?/$1 [L]
#
#</IfModule>
#<IfModule !mod_rewrite.c>
#    ErrorDocument 404 /alumnos/2daw1516/isabel/application/controllers/Error404
#</IfModule>
#
##LOCALHOST
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#    RewriteBase /Proyecto/Alumno/Fuentes/
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*)$ index.php?/$1 [L]
#</IfModule>
#<IfModule !mod_rewrite.c>
#    ErrorDocument 404 /Proyecto/Alumno/Fuentes/application/controllers/Error404
#</IfModule>